.form {
  display: flex;
  flex-direction: column;

  .field {
    outline: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
    margin: 1rem 0;
    border: 1px solid var(--bg-color-second);
  }

  .error {
    position: absolute;
    margin-top: 3rem;
    font-size: 0.8rem;
    color: dimgray;

  }

  .btn {
    margin: 1rem;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: var(--text-color-first);
      color: white;
    }
  }
}